.offers {
  display: flex;
  width: 65%;
  height: auto; /* Changed to auto to adapt to the content size */
  margin: 150px auto; /* Added margin-top for spacing from the content above */
  padding: 0px 40px; /* Adjusted padding */
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.offers-left h1 {
  color: #171717;
  font-size: 36px; /* Adjust font size for better alignment */
  font-weight: 600;
  margin: 0;
}

.offers-left p {
  font-size: 22px;
  color: #171717;
  font-weight: 600;
  margin: 10px 0;
}

.offers-left button {
  width: 282px;
  height: 70px;
  padding: 10px 20px;
  font-size: 22px;
  background: #ff4141;
  color: white;
  border: none;
  margin-top: 30px;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offers-left button:hover {
  background-color: #e03a3a;
}

.offers-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px; /* Added padding to align the image properly */
}

.offers-right img {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Adjust width to auto for proper scaling */
  height: auto; /* Adjust height to auto for proper scaling */
  display: block;
  border-radius: 50px; /* Optional: Adds rounded corners to the image */
}
